.modalContent {
  height: 100%;
  text-align: center;
  :global(.ant-col) {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    font-family: $font-body;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
  }
  span {
    font-family: $font-sans-serif;
  }

  p {
    font-weight: 400;
  }
}

.background {
  height: 100%;
}

.leftPanel {
  background-color: transparent;
  min-height: 200px;
}

.rightPanel {
  background-color: #c79479;
  h1,
  h2,
  h3,
  h4,
  p {
    color: #fff;
  }
}

@media screen and (max-width: 576px) {
  .buttonWrapper {
    margin: 0 20vw;
  }
}
