.container {
  min-height: calc(100vh - 400px - 160px);
  :global(.anticon) {
    vertical-align: -0.2em;
  }
}

@media screen and (max-width: 769px) {
  .container {
    min-height: calc(100vh - 60px - 160px);
  }
}
