@media screen and (max-width: 769px) {
  .list {
    margin: 0;
    margin-bottom: 0;
  }
}

.card {
  padding: 10px;
  flex: 1 1 30%;
  img {
    width: 100%;
    display: block;
  }
  .description {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    align-items: baseline;
    &.vertical {
      flex-direction: column;
      align-items: center;
      h1, h2, h3 {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .card {
    flex: 1 1 50%;
  }
}

span.price {
  font-family: $font-sans-serif;
}