.hero {
  align-items: center;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: calc(100vh - 80px);
  height: 100px;
  padding: 10px;
}

.scrollButton {
  bottom: 10px;
  position: absolute;
  left: calc(50% - 25px);
  bottom: -25px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: #fff;
  color: #c1a081;
  cursor: pointer;
  text-align: center;
  z-index: 1;
  vertical-align: middle;
  line-height: 0;
  overflow: hidden;

  svg {
    height: 18px;
    width: 18px;
  }
}
