.container {
  margin: 0 10px;

  @include PhoneOnly {
    padding: 30px;
  }
}

.slot {
  padding-top: 20px;

  span {
    font-size: 12px;
  }
}

.bullet {
  text-align: justify;

  @include PhoneOnly {
    padding-left: 20px;
  }

  li {
    padding-bottom: 10px;
  }
}

.timeSelectContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;

  &>div {
    flex: 1 1 100%;

    @include TabletPotraitUp {
      flex: 1 1 50%;
    }
  }

  .calendar {
    :global(.ant-fullcalendar-value) {
      font-size: 12px;
    }

    :global(.ant-fullcalendar-disabled-cell .ant-fullcalendar-value) {
      width: 24px;
      height: 24px;
    }
  }
}