.container {
    display: flex;
    flex-direction: column;
    .item {
        height: 50vh;
    }
    @include tablet-potrait-up {
        flex-direction: row;
        .item {
            height: 400px;
            flex: 1 0 33%;
        }
    }

    @include desktop-up {
        .item {
            height: 600px;
        }
    }
}