.smallBannerWrapper {
  height: 50vh;
}
@include tablet-potrait-up {
  flex-direction: row;
  .smallBannerWrapper {
      height: 400px;
      flex: 1 0 33%;
  }
}

@include desktop-up {
  .smallBannerWrapper {
      height: 600px;
  }
}