.smallBannerWrapper {
  height: 50vh;
}
@include TabletLandscapeUp {
  flex-direction: row;
  .smallBannerWrapper {
      height: 400px;
      flex: 1 0 33%;
  }
}

@include DesktopUp {
  .smallBannerWrapper {
      height: 600px;
  }
}