.container {
    display: flex;
    flex-direction: column;

    .item {
        height: 500px;
        position: relative;

        .title {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-color: rgba(199, 148, 121, 0.5);
            padding: 5px 0;
            h3 {
                text-transform: uppercase;
                color: #fff;
            }
        }
    }

    @include tablet-potrait-up {
        flex-direction: row;

        .item {
            height: 400px;
            flex: 1 0 33%;
        }
    }

    @include desktop-up {
        .item {
            height: 600px;
        }
    }
}