.checkList {
    margin: 40px auto;
    padding: 0 40px;
    max-width: 400px;

    .item {
        display: flex;
        margin-bottom: 10px;

        .icon {
            flex-basis: 30px;
            margin-right: 10px;
            display: flex;
            align-items: center;
        }

        span {
            text-align: left;
        }
    }
}

.collapse {
    background: transparent;
    .collapseItem {
        border: none;

        :global(.ant-collapse-header) {
            color: $font-color;
            font-size: 1.2em;
        }

        :global(.ant-collapse-content) {
            p {
                color: $font-color-gray;
            }
        }
    }
}