.footer {
  text-align: center;
  // background: $color-background;
  // background: #C79479;
  padding-top: 20px;
  padding-bottom: 40px;
  position: relative;
  h3 {
    color: #727272;
    font-weight: 300;
  }
}

.linkContainer {
  display: flex;
  justify-content: center;
  a {
    padding-right: 20px;
  }
  a:last-child {
    padding-right: 0;
  }
}
