.container {
    padding: 2em;
    text-align: center;
    @include tabletLandscapeUp {
        padding: 4em 0;
    }
}

.step {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    .icon {
        margin-right: 2em;
    }
    p {
        text-align: left;
        margin-bottom: 0;
    }
}